@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

.image {
  background: url("../../assets/img/5555.png");
  /* Set background size to contain */
  background-size: cover;

  /* Set background repeat behavior */
  background-repeat: no-repeat;

  /* Set background position */
  background-position: center;
  height: 525px;
}
.navbar {
  background-color: #0171bd;
}
.mainbtn {
  background-color: white;
}
